<div class="container">
  <h1>Add a Cocktail</h1>
  <div class="row">
    <br>
    <div class="col-xs-12 col-sm-6">
      <%=  image_tag "background.jpg", width: 500 %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'form' %>
    </div>
  </div>
</div>
