
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <i id="logo" class="fas fa-circle fa-2x"></i>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  <%= link_to "Add a cocktail", new_cocktail_path, class: "btnn btn-3 btn-lg border-radius-large "%>
  </div>

</div>
