
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
  <form class="form-inline">
  <input class="form-control" name="query" type="search" value="">
  <button class="btn btn-outline-success " type="submit">Search</button>
  </form>
  </div>

</div>
