

<div class="navbar-wagon  navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <a href="/" class="navbar-wagon-brand">
    <i id="logo" class="fas fa-circle fa-2x"></i>
  </a>
  <% end %>
</div>
