
.card-body {
  height: 300px;
  background-size: cover !important;
  background-position: center;
  color: grey;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  background-color: white;
  padding: 10px;
}
.card-picture {
  height: 100%;
  width: 100%;
  background-size: cover;
  margin-bottom: 10px;
  position: relative;
}


.card-description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
    h2 {
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  color: $pink;
  }
}

.card-body:hover .card-description {
  opacity: 1;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
 & :hover {
  opacity: 0.1;
  }
}

.margin-bottom {
  margin-bottom: 50px;
}

.margin-top {
  margin-top: 100px;
}

.padding {
  padding: 0 5px 0 5px;

}

.width {
  width: 500px !important;
}
