/* Main navbar */
.navbar-wagon {
  background: white;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

#logo {
  color: $pink;
  text-shadow: 1px 1px 1px grey;
  margin-left: 20px;
  width: 35px;
  height: 35px;
  margin-top: 0px !important;

}



.navbar-wagon-white {
  background-color: white;
}

.navbar-wagon-brand {
  display: flex;
  align-items: center;
  & :hover {
    text-decoration: none;
  }
}
